<%- include('../partials/admin-navbar.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <main>
        <h1>My Dashboard</h1>
        <section class="dashboard">
            <div>
                <div class="total-details">
                    <div class="total-customers dashboard-top-cards">
                        <h5>Total coustomers</h5>
                        <div><span class="counter" data-target="<%= countbox.totalCustomers %>">
                                <%= countbox.totalCustomers %>
                            </span></div>
                    </div>
                    <div class="total-customers dashboard-top-cards">
                        <h5>Total Products</h5>
                        <div><span class="counter" data-target=" <%= countbox.totalProducts %>">
                                <%= countbox.totalProducts %>
                            </span></div>
                    </div>
                    <div class="total-customers dashboard-top-cards">
                        <h5>Pending orders</h5>
                        <div><span>9</span></div>
                    </div>
                    <div class="total-customers dashboard-top-cards">
                        <h5>Total Sales</h5>
                        <div><span class="counter" data-target="<%= countbox.totalSale %>">
                                <%= countbox.totalSale %>
                            </span></div>
                    </div>

                </div>
                <div class="graph-dashboard">
                    <div class="weeklysales weeklysales-card">
                        <div class="weekly-sale">
                            <div>
                                <h5>weeklySales</h5>
                            </div>
                            <canvas id="weeklysales"></canvas>

                        </div>
                    </div>
                    <div class="weeklysales weeklysales-card">
                        <div class="monthly-sale">
                            <div>
                                <h5>monthlySales</h5>
                            </div>
                            <canvas id="monthlysales"></canvas>


                        </div>
                    </div>
                </div>


            </div>
        </section>

    </main>

    <script>
        const counters = document.querySelectorAll(".counter");

        counters.forEach((counter) => {
            counter.innerText = "0";
            const updateCounter = () => {
                const target = +counter.getAttribute("data-target");
                const count = +counter.innerText;
                const increment = target / 200;
                if (count < target) {
                    counter.innerText = `${Math.ceil(count + increment)}`;
                    setTimeout(updateCounter, 10);
                } else counter.innerText = target;
            };
            updateCounter();
        });


        let weekly = [0, 0, 0, 0, 0, 0, 0]
        let yearName = []
        let yearly = []
        let weekName = ["Sunday", "Monday", "Tuesday", "WednesDay", "Thursday", "Friday", "Saturday"]
        let monthName = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
        let monthlyProfit = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
        $.ajax({
            type: "get",
            url: "/admin/getChartData",
            success: (data) => {
                console.log(data);
                for (i = 0; i < data.data.weeklySales.length; ++i) {

                    switch (data.data.weeklySales[i].date) {

                        case 1:
                            weekly[0] = data.data.weeklySales[i].total
                            break;
                        case 2:
                            weekly[1] = data.data.weeklySales[i].total
                            break;
                        case 3:
                            weekly[2] = data.data.weeklySales[i].total
                            break;
                        case 4:
                            weekly[3] = data.data.weeklySales[i].total
                            break;
                        case 5:
                            weekly[4] = data.data.weeklySales[i].total
                            break;
                        case 6:
                            weekly[5] = data.data.weeklySales[i].total
                            break;
                        case 7: weekly[6] = data.data.weeklySales[i].total
                            break;
                    }
                }
                for (i = 0; i < data.data.monthlySales.length; ++i) {

                    switch (data.data.monthlySales[i].month) {
                        case 1:
                            monthlyProfit[0] = data.data.monthlySales[i].total
                            break;
                        case 2:
                            monthlyProfit[1] = data.data.monthlySales[i].total
                            break;
                        case 3:
                            monthlyProfit[2] = data.data.monthlySales[i].total
                            break;
                        case 4:
                            monthlyProfit[3] = data.data.monthlySales[i].total
                            break;
                        case 5:
                            monthlyProfit[4] = data.data.monthlySales[i].total
                            break;
                        case 6:
                            monthlyProfit[5] = data.data.monthlySales[i].total
                            break;
                        case 7:
                            monthlyProfit[6] = data.data.monthlySales[i].total
                            break;
                        case 8:
                            monthlyProfit[7] = data.data.monthlySales[i].total
                            break;
                        case 9:
                            monthlyProfit[8] = data.data.monthlySales[i].total
                            break;
                        case 10:
                            monthlyProfit[9] = data.data.monthlySales[i].total
                            break;
                        case 11:
                            monthlyProfit[10] = data.data.monthlySales[i].total
                            break;
                        case 12:
                            monthlyProfit[11] = data.data.monthlySales[i].total
                            break;
                    }
                }

                const weeklysales = new Chart(
                    document.getElementById('weeklysales'),
                    config
                );
                const monthlysales = new Chart(
                    document.getElementById('monthlysales'),
                    yeralyconfig
                );
            }
        });
        //weekly sales
        const labels = weekName;
        console.log(weekly);
        const data = {
            labels: labels,
            datasets: [{
                label: 'Weekly sales',
                backgroundColor: 'green',
                borderColor: 'green',
                data: weekly,
            }]
        };

        const config = {
            type: 'line',
            data: data,
            options: {}
        };
        //monthly Sales
        const months = monthName;

        const data1 = {
            labels: months,
            datasets: [{
                label: 'Monthly sales',
                backgroundColor: "blue",
                borderColor: 'rgb(255, 99, 132)',
                data: monthlyProfit,
            }]
        };

        const yeralyconfig = {
            type: 'bar',
            data: data1,
            options: {}
        };

    </script>