<style>
    .card {
        background-color: #171717;
    }

    .card-wrapper {
        max-width: 1100px;
        margin: 0 auto;

    }

    .card-wrapper img {
        width: 100%;
        display: block;
        max-width: 108px;
    }

    .img-display {
        overflow: hidden;
        width: 80%;
    }

    .img-showcase {
        display: flex;
        width: 100%;
        transition: all 0.5s ease;
    }

    .img-showcase img {
        filter: drop-shadow(2px 10px 10px #000);
        min-width: 100%;
    }

    .img-select {
        display: flex;
    }

    .img-item {
        margin: 0.3rem;
    }


    .img-item:nth-child(1),
    .img-item:nth-child(2),
    .img-item:nth-child(3) {
        margin-right: 0;
    }

    .img-item:hover {
        opacity: 0.8;
    }

    .product-content {
        padding: 2rem 1rem;
    }

    .product-title {
        font-size: 3rem;
        text-transform: capitalize;
        font-weight: 700;
        position: relative;
        color: #FAA41A;
        margin: 1rem 0;
    }

    .product-title::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 4px;
        width: 80px;
        background: #FAA41A;
    }

    .product-link {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 0.9rem;
        display: inline-block;
        margin-bottom: 0.5rem;
        background: #256eff;
        color: #fff;
        padding: 0 0.3rem;
        transition: all 0.5s ease;
    }

    .product-link:hover {
        opacity: 0.9;
    }

    .product-rating {
        color: #ffc107;
    }

    .product-rating span {
        font-weight: 600;
        color: #fff;
    }

    .product-price {
        color: #fff;
        margin: 1rem 0;
        font-size: 1rem;
        font-weight: 700;
    }

    .product-price span {
        font-weight: 400;
    }

    .last-price span {
        color: #f64749;
        text-decoration: line-through;
    }

    .new-price span {
        color: #FAA41A;
    }

    .product-detail h2 {
        text-transform: capitalize;
        color: #fff;
        padding-bottom: 0.6rem;
    }

    .product-detail p {
        color: #fff;
        font-size: 0.9rem;
        padding: 0.3rem;
        opacity: 0.8;
    }

    .product-detail ul {
        margin: 1rem 0;
        font-size: 0.9rem;
    }

    .product-detail ul li {
        margin: 0;
        list-style: none;
        background: url(shoes_images/checked.png) left center no-repeat;
        background-size: 18px;
        padding-left: 1.7rem;
        margin: 0.4rem 0;
        font-weight: 600;
        opacity: 0.9;
    }

    .product-detail ul li span {
        font-weight: 400;
    }

    .purchase-info {
        margin: 1.5rem 0;
        border-radius: 14px;
        background-color: #000;
        padding: 15px;
    }

    .purchase-info input,
    .purchase-info .btn {
        border: 1.5px solid #ddd;
        text-align: center;
        padding: 0.45rem 0.8rem;
        outline: 0;
    }

    .purchase-info input {
        height: 40px;
        width: 40px;
        border-radius: 15px;
    }

    .purchase-info .btn {
        cursor: pointer;
        color: #fff;
    }

    .purchase-info .btn:first-of-type {
        background: #256eff;
    }

    .purchase-info .btn:last-of-type {
        background: #f64749;
    }

    .purchase-info .btn:hover {
        opacity: 0.9;
    }

    .purchase-info a {
        text-decoration: none;
    }

    .purchase-info .qty-btn {
        width: 24px;
        height: 24px;
        padding: 2px 5px 0px 5px;
        border: solid 2px #FAA41A;
        border-radius: 4px;
        background-color: transparent;
        text-align: center;
        color: #FAA41A;
    }

    @media screen and (max-width:992px) {
        .img-display {
            width: 100%;
        }
    }

    @media screen and (min-width: 992px) {
        .card {
            display: grid;
            border-radius: 28px;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1.5rem;
            background-color: #171717;
        }

        .card-wrapper {
            margin-top: 90px;
            height: 80vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .product-imgs {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #111216;
            border-radius: 28px;
        }

        .product-content {
            padding-top: 0;
        }

    }

    .purchase-info .product-cart-btn {
        width: 173px;
        height: 42px;
        padding: 10px 20px 10px 20px;
        border-radius: 8px;
        background: #FAA41A;
        color: #000;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;

    }
</style>
<section class="navfull">
    <%- include('../partials/user-navbar.ejs') %>

        <div class="container-fluid productDetails">

            <div class="card-wrapper">
                <div class="card" style="padding:0 ;">
                    <!-- card left -->
                    <div class="product-imgs">
                        <div class="img-display py-5">
                            <div class="img-showcase">
                                <% for(var i=0; i<product.images.length; i++) { %>
                                    <img src="/uploads/<%= product.images[i] %>" alt="shoe image">

                                    <% } %>

                            </div>
                        </div>
                        <div class="img-select">
                            <% for(var i=0; i<product.images.length; i++) { %>
                                <div class="img-item">
                                    <a href="#" data-id="<%= i+1 %>">
                                        <img src="/uploads/<%= product.images[i] %>" alt="shoe image">
                                    </a>
                                </div>
                                <% } %>
                                    <!-- <div class="img-item">
                        <a href="#" data-id="2">
                            <img src="/images/burger1.png" alt="shoe image">
                        </a>
                    </div>
                    <div class="img-item">
                        <a href="#" data-id="3">
                            <img src="/images/burger1.png" alt="shoe image">
                        </a>
                    </div>
                    <div class="img-item">
                        <a href="#" data-id="4">
                            <img src="/images/burger1.png" alt="shoe image">
                        </a>
                    </div> -->
                        </div>
                    </div>
                    <!-- card right -->
                    <div class="product-content">
                        <h2 class="product-title mb-5">
                            <%= product.productname %>
                        </h2>
                        <!-- <a href="#" class="product-link">Chicken burger</a> -->
                        <% if( product.offer==0 ){ %>
                            <div class="product-price">
                                <p class="new-price">Price: <span>
                                    <i class="bi bi-currency-rupee"></i><%= product.price %>
                                    </span></p>
                            </div>
                            <% } else{ %>
                               <s style="color:red;"> <div class="product-price">
                                    <p class="new-price"> Price: <span>
                                        <i class="bi bi-currency-rupee"></i> <%= product.price %>
                                        </span></p>
                                </div></s>
                                <div class="product-price">
                                    <p class="new-price">New Price: <span>
                                        <i class="bi bi-currency-rupee"></i> <%= product.totalprice %>
                                        </span></p>
                                </div>
                                <% } %>
                                    <div class="product-detail">
                                        <h2>about this item: </h2>
                                        <p>
                                             <%= product.desription %>
                                        </p>
                                        <!-- <ul>
                                            <li>Category: <span>Shoes</span></li>
                                            <li>Shipping Fee: <span>Free</span></li>
                                        </ul> -->
                                    </div>

                                    <div class="purchase-info">
                                        <div style="display: flex; justify-content:space-around;align-items: center;">
                                            <!-- <div>

                                                <div><span style="color: #fff;margin-right: 3px;">Qty:</span>
                                                    <a class="qty-btn"><span style="font-size: 22px;">-</span></a>
                                                    <input type="text">
                                                    <a class="qty-btn"><span style="font-size: 22px;">+</span></a>
                                                </div>


                                            </div> -->
                                            <div>
                                                <span
                                                onclick="addtowhishlist('<%= product._id %>')"
                                                    class="product-cart-btn"><i class="bi bi-heart"></i></span>
                                            </div>
                                            <div>
                                                <a href=""
                                                    onclick="addtoCart('<%= product._id %>','<%= product.productname %>')"
                                                    class="product-cart-btn"><i class="bi bi-basket-fill"></i></a>
                                            </div>

                                        </div>
                                        <div>

                                        </div>
                                    </div>

                    </div>
                </div>
            </div>
        </div>
        <%- include('../partials/user-footer.ejs') %>
</section>
<script>
    const imgs = document.querySelectorAll('.img-select a');
    const imgBtns = [...imgs];
    let imgId = 1;

    imgBtns.forEach((imgItem) => {
        imgItem.addEventListener('click', (event) => {
            event.preventDefault();
            imgId = imgItem.dataset.id;
            slideImage();
        });
    });

    function slideImage() {
        const displayWidth = document.querySelector('.img-showcase img:first-child').clientWidth;

        document.querySelector('.img-showcase').style.transform = `translateX(${- (imgId - 1) * displayWidth}px)`;
    }

    window.addEventListener('resize', slideImage);

</script>